db.sqlite3
__pycache__
data
docker/logs/*
!docker/logs/apache2
docker/logs/apache2/*
!docker/logs/apache2/.gitkeep
webroot/media/sessions/*
!webroot/media/sessions/.gitkeep
settings_local.py
FIRSTPASS.txt
webroot/static
assets/vendor/css/*
!assets/vendor/css/.gitkeep
assets/vendor/js/*
!assets/vendor/js/.gitkeep
assets/django_js_reverse
node_modules
assets/vendor/webfonts
assets/vendor/images
settings.py
