db.sqlite3
__pycache__
data
docker/logs/*
!docker/logs/apache2
docker/logs/apache2/*
!docker/logs/apache2/.gitkeep
webroot/media/sessions/*
!webroot/media/sessions/.gitkeep
settings_local.py
FIRSTPASS.txt
webroot/static
assets/css/*
!assets/css/.gitkeep
assets/js/*
!assets/js/.gitkeep
node_modules
