[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
xmltodict = "*"
guano = {editable = true,git = "https://github.com/riggsd/guano-py.git",ref = "c6c81ce979e9499bd695ee385ad8d0f70353780b"}
audioread = "*"
svgwrite = "*"
python-dateutil = "*"
django-js-reverse = "*"
pypng = "*"

[dev-packages]
flake8 = "*"
isort = "*"
pylint-django = "*"

[requires]
python_version = "3.7"
