[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
xmltodict = "*"
guano = "*"
audioread = "*"
svgwrite = "*"
python-dateutil = "*"
django-js-reverse = "*"

[dev-packages]
flake8 = "*"
isort = "*"

[requires]
python_version = "3.7"
