{% extends 'tracemap/base.html' %}
{% load tracemap_extras %}

{% block head-css %}
    {{ block.super }}
    <style>
        table.recordings.table {
            {#width: auto !important;#}
        }

        table.recordings a {
            color: black;
            text-decoration: underline;
            text-decoration-style: dotted;
        }

        table.recordings.table thead th {
            vertical-align: middle;
            border: none;
        }

        table.recordings.table thead th.genus {
            background-color: #eee;
            border-right: solid white 4px;
            border-bottom: none;
        }

        table.recordings.table thead th.species,
        table.recordings.table thead th.total {
            min-width: 10%;
        }

        table.recordings.table td.recording-count {
            text-align: right;
            padding-right: 2em;
        }
    </style>
{% endblock %}

{% block body-container %}
    <div class="row"><h1>Recordings by day</h1></div>

    <div class="row">
        <table class="table recordings">
            <thead>
            <tr>
                <th rowspan="2">Date</th>
                {% for g,species in genuses.items %}
                    <th colspan="{{ species|length }}" class="genus">{% if g %}{{ g }}{% else %}?{% endif %}</th>
                {% endfor %}
                <th rowspan="2" class="total">Total</th>
            </tr>
            <tr>
                {% for g,species in genuses.items %}
                    {% for s in species %}
                        <th class="species">{% if s %}{{ s }}{% else %}?{% endif %}</th>
                    {% endfor %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for day in days %}
                <tr>
                    <td>
                        {% if day.day is None %}
                            <a href="{% url 'day_view' date='undated' %}">Undated</a>
                        {% else %}
                            <a href="{% url 'day_view' date=day.day %}">{{ day.day }}</a>
                        {% endif %}
                    </td>

                    {% for g,species in genuses.items %}
                        {% for s in species %}
                            <td class="recording-count">{{ day.genus|dict_key:g|dict_key:s|blank_none }}</td>
                        {% endfor %}
                    {% endfor %}

                    <td class="recording-count">
                        {{ day.count }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}