{% extends 'tracemap/base.html' %}
{% load tracemap_extras %}

{% block body-container %}
    <div class="row"><h1>Recordings by day</h1></div>

    <div class="row">
        <table class="table recordings">
            <thead>
            <tr>
                <th rowspan="2">Date</th>
                {% for g,genus_data in genuses.items %}
                    <th colspan="{{ genus_data.species|length }}" class="genus">
                        {% if g %}{{ g }}{% else %}?{% endif %}
                        {% if genus_data.name %}
                            <div class="subtitle">({{ genus_data.name }})</div>
                        {% endif %}
                        {#                       {{ genus_data }}#}
                    </th>
                {% endfor %}
                <th rowspan="2" class="total">Total</th>
            </tr>
            <tr>
                {% for g,genus_data in genuses.items %}
                    {% for s in genus_data.species %}
                        <th class="species">{% if s.abbreviation %}{{ s.abbreviation }}{% else %}?{% endif %}
                            <div class="subtitle">
                                {% if  s.species.species %}
                                    ({{ s.species.species|title }})
                                {% endif %}
                                {% if s.species.common_name %}
                                    <br/><i>{{ s.species.common_name }}</i>
                                {% endif %}
                            </div>


                        </th>
                    {% endfor %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for day in days %}
                <tr>
                    <td>
                        {% if day.day is None %}
                            <a href="{% url 'day_view' date='undated' %}">Undated</a>
                        {% else %}
                            <a href="{% url 'day_view' date=day.day %}">{{ day.day }}</a>
                        {% endif %}
                    </td>

                    {% for g,genus_data in genuses.items %}
                        {% for s in genus_data.species %}
                            <td class="recording-count">{{ day.genus|dict_key:g|dict_key:s.abbreviation|blank_none }}</td>
                        {% endfor %}
                    {% endfor %}

                    <td class="recording-count">
                        {{ day.count }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}