<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maps</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="row"><h1>Sessions</h1></div>
    {% for session in sessions %}
        <div class="row">
            <div class="col">
                <a href="{% url 'index' %}?session={{ session|urlencode }}">{{ session }}</a>
            </div>
        </div>
    {% endfor %}
</div>
</body>
</html>