{% extends 'tracemap/base.html' %}
{% load static %}

{% block subtitle %}{% if title %}{{ title }}{% else %}List View{% endif %}{% endblock %}

{% block head-css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css/leaflet.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css/lightbox.min.css' %}"/>
{% endblock %}

{% block social-graph %}
    {% if title %}<meta property="og:url" content="{{ request.build_absolute_uri }}" />{% endif %}
    {% if title %}<meta property="og:title" content="{{ title }}" />{% endif %}
    {% if subtitle %}<meta property="og:description" content="{{ subtitle }}" />{% endif %}
    {% if first_spectrogram %}<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ first_spectrogram }}" />{% endif %}
{% endblock %}

{% block body-container %}
    {{ map_data|json_script:"map-data" }}
    {{ mapbox_token|json_script:"mapbox-token" }}

    {% if title %}<h1>{{ title }}</h1>{% endif %}
    {% if subtitle %}<h2>{{ subtitle }}</h2>{% endif %}

    <div id="map-target" style="width: 100%; height: 400px; background-color: lightgray">
        <div class="map-loader" style="margin: auto">loading map…</div>
    </div>

    <table id="recordingsTable" class="table table-striped recordings">
    </table>
    <script type="text/javascript" src="{% static 'vendor/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'vendor/js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/js/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/js/lightbox.min.js' %}"></script>

    <script type="module">
        import MapHandler from '{% static 'tracemap/js/MapHandler.js' %}';

        let map;

        /**
         * @type {Object}
         * @property {Array} traces
         * @property {Array} bounds
         */
        const mapData = JSON.parse(document.getElementById('map-data').textContent);
        const mapboxToken = JSON.parse(document.getElementById('mapbox-token').textContent);
        const modalTarget = 'imageModalPopup';

        if (mapData.bounds) {
            map = new MapHandler('map-target', mapboxToken)
                .setUrlRouter(Urls)
                .drawMapWithBounds(mapData.bounds);
            {% if user.is_authenticated %}
                map.setUserAuthenticated(true);
            {% endif %}
            map.addAudioMarkers(mapData.traces);

        } else {
            $('.map-loader').text('No positioned files available');
        }
        const recordings = mapData.traces;
        let tableTarget = 'recordingsTable';

        import ListHandler from '{% static 'tracemap/js/ListHandler.js' %}';

        const listTable = new ListHandler(tableTarget, map);
        {% if user.is_authenticated %}
            listTable.setUserAuthenticated(true);
        {% endif %}
        listTable.setUrlRouter(Urls);
        listTable.initTable(recordings);
    </script>
{% endblock %}

{% block body %}
    {{ block.super }}

    <!-- Modal -->
    <div class="modal fade" id="imageModalPopup" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
            </div>
        </div>
    </div>
{% endblock %}