{% extends 'tracemap/base.html' %}
{% load static %}

{% block subtitle %}{% if title %}{{ title }}{% else %}List View{% endif %}{% endblock %}

{% block head-css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <!--suppress CssUnusedSymbol -->
    <style>
        table.table a {
            color: black;
            text-decoration: underline;
            text-decoration-style: dotted;
        }

        table.dataTable tbody td {
            padding-left: 1.2em
        }

        table.dataTable tbody td.recording-duration .duration {
            padding-left: 0;
            padding-right: 0.4em;
            text-align: right;
            width: 5em;
            display: inline-block;
        }
    </style>
{% endblock %}


{% block body-container %}
    {{ map_data|json_script:"map-data" }}
    {{ mapbox_token|json_script:"mapbox-token" }}

    {% if title %}<h1>{{ title }}</h1>{% endif %}

    <div id="map-target" style="width: 100%; height: 400px; background-color: lightgray">
        <div class="map-loader" style="margin: auto">loading map…</div>
    </div>

    <table id="recordingsTable" class="table table-striped">
    </table>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8"
            src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>

    <script type="module">
        import MapHandler from '{% static 'tracemap/js/MapHandler.js' %}';

        let map;

        /**
         * @type {Object}
         * @property {Array} traces
         * @property {Array} bounds
         */
        const mapData = JSON.parse(document.getElementById('map-data').textContent);
        const mapboxToken = JSON.parse(document.getElementById('mapbox-token').textContent);

        if (mapData.bounds) {
            map = new MapHandler('map-target', mapboxToken)
                .drawMapWithBounds(mapData.bounds)
                .addAudioMarkers(mapData.traces);
        } else {
            $('.map-loader').text('No positioned files available');
        }

        function playSample(name) {
            document.getElementById('audio-' + name).play();
        }

        function renderUnknown(defaultString) {
            return function (data, type, row) {
                if (type === "sort" || type === "type") {
                    return data;
                }
                return data ? data : defaultString;
            }
        }

        const recordings = mapData.traces;

        {# FIXME - set a config for base URL #}

        const table = $('#recordingsTable').DataTable({
            data: recordings,
            columns: [
                {
                    data: 'recorded_at',
                    title: 'Recorded At',
                    render: function (data, type, row) {
                        if (type === "sort" || type === "type") {
                            return data;
                        }
                        if (data) {
                            let date = moment(data).format("YYYY-MM-DD");
                            return '<a href="/byday/' + date + '">' + date + '</a> ' + moment(data).format('HH:mm');
                        }
                        return '(no time available)';
                    }
                },
                {
                    data: 'duration', title: 'Duration',
                    render: function (data, type, row) {
                        if (type === "sort" || type === "type") {
                            return data;
                        }
                        return data ? '<span class="duration">' + data.toFixed(2) + ' s </span>' : '-'
                    },
                    className: 'recording-duration',
                },
                {
                    data: 'genus', title: 'Genus',
                    render: function (data, type, row) {
                        if (type === "sort" || type === "type") {
                            return data;
                        }
                        return data ? '<a href="/genus/' + data + '">' + data + '</a>' : '-'
                    }
                },
                {
                    data: 'species', title: 'Species', render: function (data, type, row) {
                        if (type === "sort" || type === "type") {
                            return data;
                        }
                        return data ? '<a href="/species/' + row.genus + '.' + row.species + '">' + data + '</a>' : '-'
                    }
                },
                {
                    data: 'latitude', title: 'Latitude', render: renderUnknown('-')
                },
                {
                    data: 'longitude', title: 'Longitude', render: renderUnknown('-')
                },
                {
                    data: 'url',
                    title: 'Controls',
                    orderable: false,
                    render:
                        function (data, type, row) {
                            if (type === "sort" || type === "type") {
                                return data;
                            }
                            let cellContent = '<a title="Play" class="audioTrigger" data-audio-src="' + row.url + '" ' +
                                'data-audio-ident="' + row.identifier + '">' +
                                '<i class="fas fa-play"></i></a>'
                                + ' <a title="Download" href="' + data + '"><i class="fas fa-download"></i></a>';

                            if (row.latlon) {
                                cellContent = cellContent + ' <a title="Show" href="#" class="panTrigger" data-audio-ident="' + row.identifier + '">' +
                                    '<i class="fas fa-map-marker-alt"></i></a>' +
                                    ' <a title="Focus" href="#" class="panTriggerZoom" data-audio-ident="' + row.identifier + '">' +
                                    '<i class="fas fa-search-location"></i></a>';
                            }

                            cellContent = cellContent + ' <a title="Permalink" class="float-right" href="/recording/' + row.id + '"><i class="fas fa-link"></i></a>';

                            return cellContent;
                        }
                },
            ]
        });

        let player;
        let playingFile;

        function resetRowControlTriggers() {
            let $panTriggers = $('.panTrigger');
            $panTriggers.off('click');
            $panTriggers.click(function () {
                const id = $(this).data('audioIdent');
                map.panMapToAudioFile(id);
                return false; // prevent link action
            });
            let $panZoomTriggers = $('.panTriggerZoom');
            $panZoomTriggers.off('click');
            $panZoomTriggers.click(function () {
                const id = $(this).data('audioIdent');
                map.panMapToAudioFile(id, 15);
                return false; // prevent link action
            });
            let $audioTriggers = $('.audioTrigger');
            $audioTriggers.off('click');

            $audioTriggers.click(function () {
                let sourceElement = $(this);
                const id = sourceElement.data('audioIdent');
                const src = sourceElement.data('audioSrc');

                // Reset if we change sample
                if (playingFile !== id) {
                    if (player) {
                        player.pause();
                    }
                    player = null;
                    $('.audioTrigger').html('<i class="fas fa-play"></i>');
                }

                playingFile = id;

                if (!player) {
                    player = new Audio(src);
                }

                player.addEventListener('playing', () => {
                    // The duration variable now holds the duration (in seconds) of the audio clip
                    sourceElement.html('<i class="fas fa-pause"></i>');
                });

                player.addEventListener('ended', () => {
                    // The duration variable now holds the duration (in seconds) of the audio clip
                    sourceElement.html('<i class="fas fa-play"></i>');
                    player = null;
                });

                player.addEventListener('error', () => {
                    // The duration variable now holds the duration (in seconds) of the audio clip
                    sourceElement.html('<abbr title="Failed"><i class="fas fa-exclamation-circle"></i></abbr>');
                    player = null;
                });

                if (player.paused) {
                    sourceElement.html('<i class="fas fa-spinner fa-pulse"></i>');
                    player.play();
                } else {
                    sourceElement.html('<i class="fas fa-play"></i>');
                    player.pause();
                }

            });
        }

        resetRowControlTriggers();

        // https://stackoverflow.com/questions/33169649/how-to-get-filtered-data-result-set-from-jquery-datatable
        // https://datatables.net/reference/api/toArray()

        table.on('search.dt', function () {
            const newAudioList = table.rows({filter: 'applied'}).data().toArray();
            map.replaceAudioMarkers(newAudioList);
            resetRowControlTriggers();
        });

        table.on('draw.dt', function () {
            resetRowControlTriggers();
        });
    </script>
{% endblock %}