{% extends 'tracemap/base.html' %}
{% load static %}

{% block head-css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
{% endblock %}


{% block body-container %}
    {{ map_data|json_script:"map-data" }}
    {{ mapbox_token|json_script:"mapbox-token" }}
    <div id="map-target" style="width: 100%; height: 400px; background-color: lightgray"></div>

    <table id="recordingsTable" class="table table-striped">
        {#        <thead><tr><th>Recorded At</th></tr></thead>#}
    </table>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8"
            src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>

    <script type="module">
        import MapHandler from '{% static 'tracemap/js/MapHandler.js' %}';

        /**
         * @type {Object}
         * @property {Array} traces
         * @property {Array} bounds
         */
        const mapData = JSON.parse(document.getElementById('map-data').textContent);
        const mapboxToken = JSON.parse(document.getElementById('mapbox-token').textContent);

        {#console.log(mapData);#}

        const map = new MapHandler('map-target', mapboxToken)
            .drawMapWithBounds(mapData.bounds)
            .addAudioMarkers(mapData.traces);

        function playSample(name) {
            document.getElementById('audio-' + name).play();
        }

        function renderUnknown(defaultString) {
            return function (data, type, row) {
                if (type === "sort" || type === "type") {
                    return data;
                }
                return data ? data : defaultString;
            }
        }

        const recordings = mapData.traces;
        const table = $('#recordingsTable').DataTable({
            data: recordings,
            columns: [
                {
                    data: 'recorded_at',
                    title: 'Recorded At',
                    render: function (data, type, row) {
                        if (type === "sort" || type === "type") {
                            return data;
                        }
                        return data ? moment(data).format("YYYY-MM-DD HH:mm") : '(no time available)';
                    }
                },
                {
                    data: 'duration', title: 'Duration (s)',
                    render: function (data, type, row) {
                        if (type === "sort" || type === "type") {
                            return data;
                        }
                        return data ? data.toFixed(2) : '-'
                    }
                },
                {data: 'genus', title: 'Genus', render: renderUnknown('-')},
                {data: 'species', title: 'Species', render: renderUnknown('-')},
                {data: 'latitude', title: 'Latitude', render: renderUnknown('-')},
                {data: 'longitude', title: 'Longitude', render: renderUnknown('-')},
                {
                    data: 'url',
                    title: 'Controls', render:
                        function (data, type, row) {
                            if (type === "sort" || type === "type") {
                                return data;
                            }
                            let cellContent = '<a href="javascript:playSample(\'' + row.identifier + '\')"><i class="fas fa-play"></i></a>'
                                + '<audio preload="metadata" id="audio-' + row.identifier + '"><source src="' + data + '" type="audio/wav"></audio>'
                                + ' <a href="' + data + '"><i class="fas fa-download"></i></a>';

                            if (row.latlon) {
                                cellContent = cellContent + ' <a href="#" class="panTrigger" data-audio-ident="' + row.identifier + '">' +
                                    '<i class="fas fa-map-marker-alt"></i></a>';
                            }

                            return cellContent;
                        }
                },
            ]
        });


        function resetPanTriggers() {
            let $panTriggers = $('.panTrigger');
            $panTriggers.off('click');
            $panTriggers.click(function () {
                const id = $(this).data('audioIdent');
                map.panMapToAudioFile(id);
                return false; // prevent link action
            });
        }

        resetPanTriggers();

        // https://stackoverflow.com/questions/33169649/how-to-get-filtered-data-result-set-from-jquery-datatable
        // https://datatables.net/reference/api/toArray()

        table.on('search.dt', function () {
            const newAudioList = table.rows({filter: 'applied'}).data().toArray();
            map.replaceAudioMarkers(newAudioList);
            resetPanTriggers();
        })
    </script>
{% endblock %}