{% extends 'tracemap/base.html' %}
{% load tracemap_extras %}
{% load static %}

{% block subtitle %}Search{% endblock %}

{% block body-container %}
    <p id="basicExample">
        <input type="text" class="date start"/>
        <input type="text" class="time start"/> to
        <input type="text" class="date end"/>
        <input type="text" class="time end"/>
    </p>

    <!-- include input widgets; this is independent of Datepair.js -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.timepicker.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datepicker.css' %}"/>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>


    <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.timepicker.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/datepair.js' %}"></script>
    <script>
        // initialize input widgets first
        $('#basicExample .time').timepicker({
            'showDuration': true,
            'timeFormat': 'H:i',
            'orientation': 'rb',
        });

        $('#basicExample .date').datepicker({
            'format': 'm/d/yyyy',
            'autoclose': true
        });

        // initialize datepair
        var basicExampleEl = document.getElementById('basicExample');
        var datepair = new Datepair(basicExampleEl);
    </script>
{% endblock %}