{% extends 'tracemap/base.html' %}
{% load tracemap_extras %}
{% load static %}

{% block subtitle %}Search{% endblock %}
{% block head-css %}
    {{ block.super }}

    <!-- include input widgets; this is independent of Datepair.js -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css/jquery.timepicker.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css/bootstrap-datepicker.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css/leaflet.css' %}"/>
{% endblock %}

{% block body-container %}
    {{ mapbox_token|json_script:"mapbox-token" }}
    <h1>Search all recordings</h1>
    <form id="searchParams">
        <div class="row">
            <div class="col-2 form-row-title">
                Time range
            </div>
            <div class="col-10">
                <div class="form-row" id="timeRange">
                    <div class="col">
                        <label for="dateStart">From date</label>
                        <input id="dateStart" type="text" class="date start form-control" placeholder="YYYY-MM-DD"
                               value="{{ date_range.min }}"
                        />
                    </div>
                    <div class="col">
                        <label for="timeStart">From time</label>
                        <input id="timeStart" type="text" class="time start form-control" placeholder="HH:MM"
                               value="00:00"
                        /></div>
                    <div class="col">
                        <label for="dateEnd">To date</label>
                        <input id="dateEnd" type="text" class="date end form-control" placeholder="YYYY-MM-DD"
                               value="{{ date_range.max }}"
                        /></div>
                    <div class="col">
                        <label for="timeEnd">To time</label>
                        <input id="timeEnd" type="text" class="time end form-control" placeholder="HH:MM"
                               value="00:00"
                        /></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2 form-row-title">
                Species
            </div>
            <div class="col-10">
                <div class="form-row" id="">
                    {% for genus, species in genii.items %}
                        <div class="col">
                            {% if genus %}{{ genus }}{% else %}Unidentified{% endif %}
                            {% for s in species %}
                                <div>
                                    <input type="checkbox" checked="checked" id="species-{{ s }}"
                                           class="species" data-genus="{{ genus }}" data-species="{{ s }}"
                                           name="species[{{ s }}]" value="1"/>
                                    <label for="species-{{ s }}">{% if s %}{{ s }}{% else %} ? {% endif %}</label>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2 form-row-title">
                Area
                <p><i>Scroll the map to limit the search area</i></p>
            </div>
            <div class="col-10">
                <div class="form-row" id="">
                    <div id="map-target"
                         style="background-color: lightgray; width: 60%; margin-left: 20%; height: 300px;">
                        Map loading…
                    </div>
                </div>
                <div class="form-row" id="geoRange">
                    <div class="col">
                        <label for="east">East</label>
                        <input type="number" class="form-control" id="east" min="-90" max="90" step="0.001"
                               placeholder="East"/>
                    </div>
                    <div class="col">
                        <label for="south">South</label>
                        <input type="number" class="form-control" id="south" min="-180" max="180" step="0.001"
                               placeholder="South"/>
                    </div>
                    <div class="col">
                        <label for="west">West</label>
                        <input type="number" class="form-control" id="west" min="-90" max="90" step="0.001"
                               placeholder="West"/>
                    </div>
                    <div class="col">
                        <label for="north">North</label>
                        <input type="number" class="form-control" id="north" min="-180" max="180" step="0.001"
                               placeholder="North"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2 form-row-title">
                List results
            </div>
            <div class="col-10">
                <button class="btn btn-primary" type="button" id="searchTrigger">Search</button>
                {# <button class="btn btn-secondary" type="button" id="viewTrigger"><i class="fas fa-list"></i> View </button>#}
            </div>
        </div>
    </form>

    <script type="text/javascript" src="{% static 'vendor/js/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/js/jquery.timepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/js/datepair.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/js/heatmap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/js/leaflet-heatmap.js' %}"></script>


    <script type="module">
        import MapHandler from '{% static 'tracemap/js/MapHandler.js' %}';

        let map;

        /**
         * @type {Object}
         * @property {Array} traces
         * @property {Array} bounds
         */
        const mapboxToken = JSON.parse(document.getElementById('mapbox-token').textContent);
        map = new MapHandler('map-target', mapboxToken).drawMapWithView([0, 55], 12);

        /**
         *
         * @param {LatLngBounds} bounds
         */
        function updateGeoControls(bounds) {
            $('#south').val(Number(bounds.getSouth()).toFixed(3));
            $('#west').val(Number(bounds.getWest()).toFixed(3));
            $('#north').val(Number(bounds.getNorth()).toFixed(3));
            $('#east').val(Number(bounds.getEast()).toFixed(3));
        }

        updateGeoControls(map.map.getBounds());

        map.map.on('moveend', function (e) {
            updateGeoControls(map.map.getBounds())
        });

        const heatmapCfg = {
            radius: 10
        };

        var heatmapLayer = new HeatmapOverlay(heatmapCfg);
        map.map.addLayer(heatmapLayer);

        // https://github.com/jonthornton/jquery-timepicker
        // initialize input widgets first
        $('#timeRange .time').timepicker({
            'showDuration': true,
            'timeFormat': 'H:i',
            'orientation': 'rb',
            'step': 5,
        });

        $('#timeRange .date').datepicker({
            'format': 'yyyy-mm-dd',
            'autoclose': true
        });

        // initialize datepair
        var timeRangeEl = document.getElementById('timeRange');
        var datepair = new Datepair(timeRangeEl);

        const form = $('#searchParams');
        form.find('input').change(doSearch);

        function scanForm() {
            const data = {};

            let dateStart = form.find('#dateStart').val();
            let timeStart = form.find('#timeStart').val();
            let dateEnd = form.find('#dateEnd').val();
            let timeEnd = form.find('#timeEnd').val();
            let start;
            let end;

            {#data.timeRange = {#}
            {#    dateStart: dateStart,#}
            {#    timeStart: timeStart,#}
            {#    dateEnd: dateEnd,#}
            {#    timeEnd: timeEnd,#}
            {# }; #}

            if (dateStart) {
                if (!timeStart) {
                    timeStart = '00:00';
                }
                start = dateStart + ' ' + timeStart; // 'YYYY-MM-DD hh:mm' - ISO8601
                data.start = start;
            }

            if (dateEnd) {
                if (!timeEnd) {
                    timeEnd = '23:59:59';
                }
                end = dateEnd + ' ' + timeEnd; // 'YYYY-MM-DD hh:mm[:ss]' - ISO8601
                data.end = end;
            }

            let species = [];
            form.find('input.species').each(
                function () {
                    let t = $(this);
                    if (t.prop('checked')) {
                        species.push(t.data('species'))
                    }
                }
            );
            data.species = species.join(',');

            const geoForm = form.find('#geoRange');
            {#data.geoRange = {#}
            {#    'east': geoForm.find('#east').val(),#}
            {#    'south': geoForm.find('#south').val(),#}
            {#    'west': geoForm.find('#west').val(),#}
            {#    'north': geoForm.find('#north').val(),#}
            {# }; #}

            data.east = geoForm.find('#east').val();
            data.south = geoForm.find('#south').val();
            data.west = geoForm.find('#west').val();
            data.north = geoForm.find('#north').val();

            console.log(data);
            return data;
        }

        function doSearch() {
            console.log('Search');
            let data = scanForm();
            $.get('/api/search', data, function (response) {
                heatmapLayer.setData({data: response.data});
                console.log(response);
            });
        }

        doSearch();

        function showResults() {
            window.location.href = '/list?' + $.param(scanForm());
        }

        $('#searchTrigger').click(showResults);
    </script>
{% endblock %}