{% extends 'tracemap/base.html' %}
{% load tracemap_extras %}
{% load static %}

{% block head-css %}
    {{ block.super }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
{% endblock %}

{% block subtitle %}Recordings {{ title }}{% endblock %}

{% block body-container %}
    {{ map_data|json_script:"map-data" }}
    {{ mapbox_token|json_script:"mapbox-token" }}

    <div class="row">
        <h1>Recordings {{ title }}</h1>
    </div>
    <div class="row">
        <div class="col col-sm-8" id="map-pane">
            <div id="map-target" style="width: 100%; height: 700px; background-color: lightgray"></div>
        </div>
        <div class="col col-sm-4" id="audio-pane">
            {% for file in files %}
                <div class="card">
                    <div class="card-body" id="recording-{{ file.identifier }}">
                        <h5 class="card-title">{{ file.identifier }}</h5>
                        <a href="{{ MEDIA_URL }}{{ file.file|relpath:MEDIA_ROOT }}"><i class="fas fa-download"></i></a>
                        <a href="javascript:playSample('{{ file.identifier }}')"><i class="fas fa-play"></i></a>
                        {% if file.latitude %}
                            <a href="#" class="panTrigger" data-audio-ident="{{ file.identifier }}"><i
                                    class="fas fa-map-marker-alt"></i></a>
                        {% endif %}
                        <br/>
                        Genus: {{ file.genus }}<br/>
                        Species: {{ file.species }}<br/>
                        Time:
                        {% if file.recorded_at %}
                            {{ file.recorded_at|date:'SHORT_DATETIME_FORMAT' }}
                        {% else %}
                            Unknown
                        {% endif %}<br/>
                        Location:
                        {% if file.latitude %}
                            {{ file.latitude|floatformat:3 }}, {{ file.longitude|floatformat:3 }}
                        {% else %}
                            Unknown
                        {% endif %}
                        <audio id="audio-{{ file.identifier }}">
                            <source src="{{ MEDIA_URL }}{{ file.file|relpath:MEDIA_ROOT }}" type="audio/wav">
                        </audio>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>


    <script>
        function playSample(name) {
            document.getElementById('audio-' + name).play();
        }
    </script>

    <script type="module">
        import MapHandler from '{% static 'tracemap/js/MapHandler.js' %}';

        /**
         * @type {Object}
         * @property {Array} traces
         * @property {Array} bounds
         */
        const mapData = JSON.parse(document.getElementById('map-data').textContent);
        const mapboxToken = JSON.parse(document.getElementById('mapbox-token').textContent);

        const map = new MapHandler('map-target', mapboxToken)
            .drawMapWithBounds(mapData.bounds)
            .addAudioMarkers(mapData.traces);

        $('.panTrigger').click(function () {
            const id = $(this).data('audioIdent');
            map.panMapToAudioFile(id);
            return false; // prevent link action
        });
    </script>

{% endblock %}
